@model Strata.ViewModel.Catalog.Item.ItemCreateViewModel

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Item" asp-action="Create" method="post" id="itemCreateForm">
                    <div class="d-block d-lg-flex gap-lg-2">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Lenovo Legion" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ItemCode" class="form-label">Item Code</label>
                            <input asp-for="ItemCode" class="form-control" placeholder="LT001" />
                            <span asp-validation-for="ItemCode" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" class="form-control" placeholder="Printers" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger small"></span>
                    </div>
                    <div class="d-block d-lg-flex gap-lg-2">
                        <div class="mb-3 flex-fill">
                            <label asp-for="BrandId" class="form-label">Brand</label>
                            <select asp-for="BrandId" class="form-select" asp-items="Model.BrandsOptions">
                                <option value="">Select a brand</option>
                            </select>
                            <span asp-validation-for="BrandId" class="text-danger small"></span>
                        </div>
                        <div class="mb-3 flex-fill">
                            <label asp-for="CategoryId" class="form-label">Category</label>
                            <select asp-for="CategoryId" class="form-select" asp-items="Model.CategoryOptions">
                                <option value="">Select a category</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UnitOfMeasureId" class="form-label">UOM</label>
                        <select asp-for="UnitOfMeasureId" class="form-select" asp-items="Model.UnitOptions">
                            <option value="">Select a unit</option>
                        </select>
                        <span asp-validation-for="UnitOfMeasureId" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                            <label class="form-check-label" for="switchCheckDefault">Serialized</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                            <label class="form-check-label" for="switchCheckDefault">Consumable</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                            <label class="form-check-label" for="switchCheckDefault">Spare Part</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                            <label class="form-check-label" for="switchCheckDefault">Requires Maintenance</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MinimumStockLevel" class="form-label">Min. Stock Level</label>
                        <input type="number" asp-for="MinimumStockLevel" class="form-control" />
                        <span asp-validation-for="MinimumStockLevel" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ReorderLevel" class="form-label">Reorder Level</label>
                        <input type="number" asp-for="ReorderLevel" class="form-control" />
                        <span asp-validation-for="ReorderLevel" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StandardCost" class="form-label">Standard Cost</label>
                        <div class="input-group">
                            <span class="input-group-text">₱</span>
                            <input asp-for="StandardCost" class="form-control"/>
                            <span asp-validation-for="StandardCost" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
                            <label asp-for="IsActive" class="form-check-label" for="switchCheckChecked">Is Active</label>
                        </div>
                    </div>
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary js-save-create-item">Save</button>
            </div>
        </div>
    </div>
</div>