@model Strata.ViewModel.Catalog.UnitOfMeasure.UnitEditViewModal

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Unit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Unit" asp-action="Edit" method="post" id="unitEditForm">
                    <input type="hidden" asp-for="Id"/>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Pieces"/>
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Abbreviation" class="form-label">Abbreviation</label>
                        <input asp-for="Abbreviation" class="form-control" placeholder="pcs" />
                        <span asp-validation-for="Abbreviation" class="text-danger small"></span>
                    </div>
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()"/>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary js-save-edit-unit">Save</button>
            </div>
        </div>
    </div>
</div>