@model Strata.ViewModel.Brand.BrandCreateViewModel
@{
    ViewData["Title"] = "New Brand";
}

<div class="d-flex gap-2 align-items-baseline">
    <a asp-controller="Brand" asp-action="Index" class="btn btn-sm btn-outline-secondary d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-arrow-left-icon lucide-arrow-left">
            <path d="m12 19-7-7 7-7" />
            <path d="M19 12H5" />
        </svg>
    </a>
    <h3 class="mb-3 fw-bold">New Brand</h3>
</div>

<div class="card">
    <div class="card-body">
        <form asp-controller="Brand" asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Epson" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="IsActive" type="checkbox" role="switch" checked />
                    <label class="form-check-label" asp-for="IsActive">Is Active</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>